<div ng-controller="DocumentController" ng-init="findAllDocumentsByUserId()">
    <section class="content-zone white-bg">
        <section class="video-description content-desc">
            <section class="container">
                <h3 class="tittle-w3ls">My Account</h3>
                <section class="row divider">
                	<div ng-if="contents.length == 0">
                		<h2>No Content Available</h2>
                	</div>
                	<div ng-if="contents.length > 0">
                    <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="content in contents">
                        <section class="media">
                            <section class="media-left">
                                <img src="{{content.coverImageUrl}}" class="media-object" width="200">
                            </section>
                            <section class="media-body">
                                <h4 class="media-heading">{{content.title}}</h4>
                                <p>{{content.content}}<a href="javascript:void(0);">Read More</a></p>
                                
                                <div class="share-section">
                                	<a href="#" class="border-btn">Rate</a>
                                    <ul class="share-icons-list">
                                    	<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </section>
                        </section>
                    </section>
					</div>
                   <!-- <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <section class="media">
                            <section class="media-left">
                                <img src="app/images/video-img-01.png" class="media-object" width="200">
                            </section>
                            <section class="media-body">
                                <h4 class="media-heading">Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="javascript:void(0);">Read More</a></p>
                                <div class="share-section">
                                	<a href="#" class="border-btn">Rate</a>
                                    <ul class="share-icons-list">
                                    	<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </section>
                        </section>
                    </section>
                    
                </section>
                <section class="row">

                    <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <section class="media">
                            <section class="media-left">
                                <img src="app/images/video-img-01.png" class="media-object" width="200">
                            </section>
                            <section class="media-body">
                                <h4 class="media-heading">Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="javascript:void(0);">Read More</a></p>
                                <div class="share-section">
                                	<a href="#" class="border-btn">Rate</a>
                                    <ul class="share-icons-list">
                                    	<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </section>
                        </section>
                    </section>

                    <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <section class="media">
                            <section class="media-left">
                                <img src="app/images/video-img-01.png" class="media-object" width="200">
                            </section>
                            <section class="media-body">
                                <h4 class="media-heading">Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="javascript:void(0);">Read More</a></p>
                                <div class="share-section">
                                	<a href="#" class="border-btn">Rate</a>
                                    <ul class="share-icons-list">
                                    	<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </section>
                        </section>
                    </section> -->
                </section>
            </section>
        </section>
    </section>
  </div>