<head>
	<title>Accounting App | Sign Up</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
</head>

<div ng-controller="UserController">
	<div ng-include="'app/includes/header.html'"></div>
    
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="banner_bottom">
		<div class="container" style="width:100%;">
				
			<div class="inner_sec_info_wthree_agile">
				<div class="signin-form">
					<div class="login-form-rec">
						<form action="#" method="post">
							Name : Abhishek Dubey
                            <select name="">
                            	<option value="">---Select Your File Type---</option>
                                <option value="PDF">PDF</option>
                                <option value="Word">Word</option>
                                <option value="Excel">Excel</option>
                                <option value="Videos">Videos</option>
                            </select>
                            
                            <select name="">
                            	<option value="">---Select Category---</option>
                                <option value="">Category 1</option>
                                <option value="">Category 2</option>
                                <option value="">Category 3</option>
                                <option value="">Category 4</option>
                            </select>
                            
                            <select name="">
                            	<option value="">---Select Sub Category---</option>
                                <option value="">Sub Category 1</option>
                                <option value="">Sub Category 2</option>
                                <option value="">Sub Category 3</option>
                                <option value="">Sub Category 4</option>
                            </select>
                            
                            <input type="text" name="name" placeholder="Title of Document" required="">
                            <input type="text" name="name" placeholder="Cover Image" required="">
							<input type="text" name="name" placeholder="Uploading of file " required="">
                            <textarea placeholder="Content of Article "></textarea>
							
							<input type="submit" value="Upload">
						</form>
					</div>
					

				</div>
			</div>
		</div>
	</div>
      </div>
      <!-- Modal content-->
      
    </div>
  </div>
	<!--/banner_info-->
	<div class="banner_inner_con">
	</div>
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				
				<li>Sign up</li>
			</ul>
		</div>
	</div>
	<!--//banner_info-->
	<!-- /inner_content -->
<div class="banner_bottom">
		<div class="container">
				<div class="tittle-w3ls_head">
				<h3 class="tittle-w3ls three">Sign Up <span>Now </span></h3>
			</div>
			<div class="inner_sec_info_wthree_agile">
				<div class="signin-form">
					<div class="login-form-rec">
						<form ng-submit="signup(signupData)">
							<input type="text" name="name" placeholder="First Name" required ng-model="signupData.firstName">
							<input type="text" name="name" placeholder="Last Name" required ng-model="signupData.lastName">
							<input type="email" name="email" placeholder="Email" required ng-model="signupData.email">
							<input type="password" name="password" id="password1" placeholder="Password" required ng-model="signupData.password">
							<input type="password" name="password" id="password2" placeholder="Confirm Password" required ng-model="signupData.confirmPassword">
							<input type="submit" value="Sign Up">
						</form>
					</div>
					<p class="reg"><a href="#"> By clicking Signup, I agree to your terms</a></p>

				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
		<div ng-include="app/js/footer.html"></div>
	</div>
	<!-- //footer -->
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>

	
 



</div>

